
.bottom-nav {
    text-align:center;
    background-color:rgba(128, 128, 128, 0.598);
    width:100%;
    height: 56px;
    /* transition:position 2s; */
}
.bottom-nav--minimized {
    transform:translateY(24px);
    
}
.bottom-nav--minimized:hover {
    transition:transform 1s;
    -webkit-transform:translateY(0px);

}
.bottom-nav--expanded {
    position:absolute;
    top:1px;
    background-color:rgba(32, 138, 204, 0.598);
}

.bottom-nav__button__online-label {
    font-size: 1.4em;
    color:#ffffff;  
    width:400px;
}
.bottom-nav__button__online-label-icon--disabled{
    color:#FFFF66;
}
.bottom-nav__button__online-label-icon--enabled{
    color:#6CFF66;
}