
.bottom-nav {
    text-align:center;
    background-color:rgba(128, 128, 128, 0.598);
    width:25%;
    height: 56px;
    transition:transform 2s; 
    position:fixed;
    min-width:200px;
    bottom:0;
    z-index:9999;
}
.bottom-nav--minimized {
    transform:translateY(0px)
}

.bottom-nav--expanded {
    transform:translateY(-400px);
    background-color:rgba(32, 138, 204, 0.598);
}

.bottom-nav__button__online-label {
    font-size: 1.4em;
    color:#ffffff;  
    width:400px;
}
.bottom-nav__button__online-label-icon--disabled{
    color:#FFFF66;
}
.bottom-nav__button__online-label-icon--enabled{
    color:#6CFF66;
}