.user-list{
    position:fixed;
    height:400px;
    width:25%;
    transition:transform 2s;

}
.user-list--expanded{
    transform:translateY(286px);
}
.user-list--minimized{

    transform:translateY(686px);
}
