.user-list{
    position:fixed;
    height:4rem;
    width:25%;
    transition:transform 2s;
}
.user-list--expanded{
    transform:translateY(17.875rem);
}
.user-list--minimized{
    transform:translateY(42.875rem);
}
